.filtrosdecatalogocontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    font-family: 'Oswald';
    width: 100%;
}

/* Lista de filtros */
.filtrosdecatalogolist {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

/* Filtro */
.filtrosdecatalogoitem {
    border: 1px solid #dab309;
    border-radius: 10px;
    height: 3.9rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    width: 25rem;
    color: #fff;
    font-size: 18px;
}

.filtrosdecatalogoitem>input {
    cursor: pointer;
}

.filtrosdecatalogoitem>select {
    border: 1px solid #dab309;
    background-color: #000;
    color: #fff;
    width: 10rem;
    height: 2.3rem;
    padding: .5rem;
    outline: none;
    cursor: pointer;
    border-radius: 5px;    
}

.filtrosdecatalogoitem>select>option {
    background-color: #000;
    color: #fff;
}

/* Botones */
.filtrosdecatalogofinalbtns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.filtrosdecatalogofinalbtns>button {
    padding: .5rem 2rem;
    background-color: #000;
    color: #dab309;
    border: 1px solid #dab309;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Oswald';
    transition: all .3s;
}

.filtrosdecatalogofinalbtns>button:hover {
    background-color: #dab309;
    color: #000;
}

/* Responsive */
@media (min-width: 350px) and (max-width: 499px) {
.filtrosdecatalogocontainer {
    padding: .5rem;
    gap: 1rem;
}

/* Lista de filtros */
.filtrosdecatalogolist {
    flex-direction: column;
    gap: .5rem;
    padding: 0;
}

/* Filtro */
.filtrosdecatalogoitem {
    height: 3rem;
    padding: 1rem .5rem;
    width: 18rem;
    font-size: 12px;
}

.filtrosdecatalogoitem>select {
    width: 9rem;
    height: 2rem;   
}

/* Botones */
.filtrosdecatalogofinalbtns {
    gap: .5rem;
    width: 18rem;
}

.filtrosdecatalogofinalbtns>button {
    font-size: 14px;
}
}