.footercontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12rem;
    width: 100%;
    background-color: #000;
    border-top: 1px dashed #ffe600;
    margin-top: 3.5rem;

}

.navbarfootercontainer {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    font-family: 'Oswald';
}

.navbarfooteritem>a {
    color: #fff;
    transition: all .3s;
    text-decoration: none;
}

.navbarfooteritem>a:hover {
    color: #ffe600;
}

.footercontainer>span {
    color: #fff;
    font-size: 30px;
}

.footercontainer>a>img {
    height: 10rem;
}

/* Responsive */
@media (min-width: 350px) and (max-width: 499px) {
    .footercontainer {
        margin-top: 3rem;
    }

    .navbarfootercontainer {
        gap: .3rem;
    }

    .navbarfooteritem>a {
        font-size: 12px;
    }

    .footercontainer>span {
        font-size: 16px;
    }

    .footercontainer>a>img {
        height: 3.5rem;
    }
}