.reviewsdepersonascontainer {
    overflow: hidden;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5rem 3rem;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}

.reviewsdepersonassubcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: #fff;
    width: 60%;
    gap: .5rem;
}

.reviewsdepersonassubcontaineritem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: max-content;
    transition: all .5s;
    gap: .5rem;
}

.reviewsdepersonassubcontaineritem>img {
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
}

.reviewsdepersonassubcontaineritem>h4 {
    font-size: 24px;
    color: #dab309;
    font-family: 'Oswald';
}

.reviewsdepersonassubcontaineritem>p {
    font-size: 17px;
    background-color: #fff;
    padding: 1rem;
    color: #000;
    border-radius: 10px;
    transition: all .3s;
    width: 80%;
}

.reviewsdepersonassubcontaineritem>p:hover {
    scale: 105%;
}

.reviewsdepersonassubcontaineritem>p>strong {
    color: #dab309;
}

@media (min-width: 350px) and (max-width: 499px) {
    .reviewsdepersonascontainer {
        width: 100%;
        padding: 3rem 0;
    }

    .reviewsdepersonassubcontainer {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 95%;
        gap: 1rem;
    }

    .reviewsdepersonassubcontaineritem>img {
        height: 5rem;
        width: 5rem;
    }

    .reviewsdepersonassubcontaineritem>h4 {
        font-size: 16px;
    }

    .reviewsdepersonassubcontaineritem>p {
        font-size: 11px;
        padding: 1rem;
        width: 95%;
    }
}